header {
  background: $primary-color;
  li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1.2rem;
  height: 20px;
  width: 28px;
  cursor: pointer;

  &__burger {
    position: absolute;
    right: 0;
    top: 0.6rem;
    width: 28px;
    height: 3px;
    background: set-text-color($primary-color);
    @include transition-ease;

    &::before {
      content: "";
      position: absolute;
      top: -8px;
      width: 28px;
      height: 3px;
      background: set-text-color($primary-color);
      @include transition-ease;
    }
    &::after {
      content: "";
      position: absolute;
      top: 8px;
      width: 35px;
      height: 3px;
      background: set-text-color($primary-color);
      @include transition-ease;
    }
    // Upon opening the menu the enu button needs to transform from a hamburger to a cross
    &.open {
      transform: rotate(720deg);
      background: transparent; // Removing the mid-line in our hamburger

      // Rotating the top part of the hamburger to add one part of the cross
      &::before {
        transform: rotate(45deg) translate(5px, 8px); // translate() moves the element, 1st argument is for x-axis/horizntal and 2nd argument is y-axis/vertical
      }
      &::after {
        width: 28px;
        transform: rotate(-45deg) translate(3px, -7px);
      }
    }
  }
}

.menu-left {
  position: absolute;
  left: 0.5rem;
  top: 0.2rem;

  &__logo {
    width: 50%;
  }
}

.custom-nav {
  position: fixed;
  width: 100vw;
  padding-left: 0em;
  padding-right: 0em;
  visibility: hidden;
  top: 0;
  left: 0;
  opacity: 0.98;

  &.open {
    visibility: visible;
  }
}

.menu-nav {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: $primary-color;
  padding-right: 1rem;
  transform: translate(100%, -100%);
  @include transition-ease;

  &.open {
    transform: translate(0, 0);
  }
  &__item {
    transform: translate(100%, -100%);
    @include transition-ease;

    &.open {
      transform: translateX(0);
    }

    &.active > a {
      color: $secondary-color;
    }
  }

  &__link {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 2rem 0;
    font-weight: 300;
    @include transition-ease;

    &:hover {
      color: $secondary-color;
    }
  }
}

@for $i from 1 through 5 {
  .menu-nav__item:nth-child(#{$i}) {
    transition-delay: ($i * 0.1s) + 0.15s;
  }
}
