$primary-color: #eeedef;
$secondary-color: #ff2f2f;
$gradient-primary-color: #5a5858;
$gradient-secondary-color: black;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

header {
  position: sticky;
  top: 0px;
  z-index: 2;
  width: 100%;
  padding: 1rem;
  height: 3.8rem;
}

// .form-control {
//   margin: 0 auto !important;
//   width: 70% !important;
//   margin-top: 1em !important;
//   border: 1px solid black !important;
//   border-radius: 4px !important;
// }

.input-group {
  margin: 0 auto !important;
  width: 80% !important;
  margin-top: 1em !important;

  &-text {
    width: 95px !important;

    border: 1px solid black !important;
    border-radius: 0px !important;
  }
  .form-control {
    border: 1px solid black !important;
    border-radius: 0px !important;
  }
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}
@mixin transition-none {
  transition: none;
}

@function set-text-color($color) {
  @if (lightness($color) >40%) {
    @return #000;
  } @else {
    @return #ffffff;
  }
}

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
