@include media-md {
  .menu-btn {
    visibility: hidden;
    @include transition-none;
    &__burger {
      @include transition-none;
      &::before {
        @include transition-none;
      }
      &::after {
        @include transition-none;
      }
    }
  }

  .custom-nav {
    visibility: visible;

    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: right;

      &__item {
        display: inline;
        padding-right: 1.5rem;
      }

      &__link {
        font-size: 1rem;
      }
    }
  }

  .menu-left {
    position: absolute;
    left: 1rem;
    top: 0rem;

    &__logo {
      width: 70%;
    }
  }

  header {
    height: 4.8rem;
  }

  .app {
    padding-left: 3em;
    padding-right: 3em;
  }

  .custom-nav {
    width: 95vw;
  }

  .customer-services {
    margin: 3em 7em;
  }

  .sm-selection {
    display: none;
  }
  .md-selection {
    display: block;

    &_btn {
      width: 100%;

      .btn {
        width: 100%;
      }
    }
  }
}
